:root {
    --color-primary: #c8e2d4;
    --color-primary-movie-title: #6ca085;
    --color-details: #2c3e50;
    --color-navbar-title: #333;
    --color-navbar-icon-movies: #48A072;
    --color-star: #d6a91a;
    --color-movie-border: #777;
    --color-movie-border-hover: #444;
    --color-img-shaddow: #ccc;
}

